# React Native
react-native/node_modules/
react-native/.expo/
react-native/npm-debug.*
react-native/*.jks
react-native/*.p8
react-native/*.p12
react-native/*.key
react-native/*.mobileprovision
react-native/*.orig.*
react-native/web-build/
react-native/.DS_Store

# Flutter
flutter_/*.class
flutter_/*.log
flutter_/*.pyc
flutter_/*.swp
flutter_/.DS_Store
flutter_/.atom/
flutter_/.buildlog/
flutter_/.history
flutter_/.svn/
flutter_/*.iml
flutter_/*.ipr
flutter_/*.iws
flutter_/.idea/
flutter_/**/doc/api/
flutter_/**/ios/Flutter/.last_build_id
flutter_/.dart_tool/
flutter_/.flutter-plugins
flutter_/.flutter-plugins-dependencies
flutter_/.packages
flutter_/.pub-cache/
flutter_/.pub/
flutter_/build/
flutter_/lib/generated_plugin_registrant.dart
flutter_/app.*.symbols
flutter_/app.*.map.json
flutter_/android/app/debug
flutter_/android/app/profile
flutter_/android/app/release
